.venv/

clientes/
compras/
traduzidos
escopo.txt
.gitignore
util/links.txt
dataset_interno.csv
enviadas/*.xlsx
dados/portais_tratados.json
dados/portais.json
dados/dominios.json
df_enviadas


__pycache__/
*.py[cod]